In [ ]:
pip install autogluon --extra-index-url https://download.pytorch.org/whl/cpu

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from autogluon.tabular import TabularPredictor

/home/cgb2/anaconda3/envs/yechan/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
!wget https://raw.githubusercontent.com/guebin/rad250723/main/titanic.csv

In [ ]:
df = pd.read_csv("titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

`(1)` `df`의 차원을 확인하는 코드를 작성하세요.

`(2)` `df`의 처음 5개의 행을 출력하는 코드를 작성하세요.

`(3)` `df`의 마지막 5개의 행을 출력하는 코드를 작성하세요.

`(4)` `df`의 열을 출력하는 코드를 작성하세요.

`(5)` `train_test_split` 함수를 이용하여 훈련자료와 테스트자료를 5:5로 나누는 코드를 작성하세요. 

- 단, 이때 테스트자료에서는 변수 "Survived"가 제외되어 있어야함. 
- 훈련자료는 `df_train`으로 테스트자료는 `df_test`로 저장되어 있을 것.

`(6)` `df_test`의 처음 5개의 행을 출력해보세요. 승객의 생존유무를 나름의 논리로 추측해보세요. 추측의 결과가 맞는지 확인하는 코드를 제시하세요. 

**hint**: `df`에서 `df_test`의 인덱스에 해당하는 정보만 출력 (강의노트 p24 참고)

`(7)` `df_train`의 성별 생존률을 확인하는 코드를 작성하세요.

`(8)` "남성이면 사망하고, 여성이면 생존한다"라는 단순한 룰을 적용하여 `df_test`의 `Survived`열을 예측한다면 정확도는 얼마나 될까요?

`(9)` `df_train`에서 10세미만승객의 생존률과 10세이상승객의 생존률을 구하는 코드를 작성하세요.

`(10)` `df_train`에서 성별(Sex)과 탑승항구(Embarked)에 따른 생존률을 비교하는 코드를 작성하세요. 즉 아래의 표를 채우세요. 

|Sex | Embarked| Rate|
|:--:|:--:|:--:|
|female| C| .|
|female| Q| .|
|female| S| .|
|male| C| .|
|male| Q| .|
|male| S| .|

`(11)` `df_train`에서 `Sex`, `Pclass` 열을 추출하고 `pd.get_dummies` 함수를 이용하여 원핫인코딩하세요.

`(12)` 설명변수로 Sex, Age를 선택한 뒤 아래의 과정에 따라 의사결정나무모델을 훈련하고 성능을 확인하세요. 

1. 데이터전처리: `X`, `X_test` 생성
2. 모형선택: `DecisionTreeClassifier`를 이용하여 의사결정나무 모델을 만들고 `model`변수에 저장
3. 적합: `model`의 `.fit`을 이용하여 훈련자료를 적합
4. 예측: `model`의 `.predict`를 이용하여 테스트자료를 예측하고 성능확인

`(13)` 설명변수로 Sex, Age, Fare 를 선택한 뒤 아래의 과정에 따라 의사결정나무모델을 훈련하고 성능을 확인하세요. 

1. 데이터전처리: `X`, `X_test` 생성
2. 모형선택: `DecisionTreeClassifier`를 이용하여 의사결정나무 모델을 만들고 `model`변수에 저장
3. 적합: `model`의 `.fit`을 이용하여 훈련자료를 적합
4. 예측: `model`의 `.predict`를 이용하여 테스트자료를 예측하고 성능확인

`(14)` 설명변수로 "Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"를 선택한 뒤 Autogluon을 이용하여 다양한 모델을 적합하고 성능을 확인하세요.